<h2>Objective</h2>
<p>Get closest to twenty-one (21) without going over</p>
<p>If you go over, you <em>bust</em> and your opponent automatically wins</p>

<h2>First role:</h2>
<p>Role two (2) dice, take double that amount (2&times; the value shown)</p>

<h2>Subsequent roles:</h2>
<p>If you wish to increase your score, you may role again. But, you must always keep at least one die</p>

<h2>Standing</h2>
<p>If at any point, the user decides to not role again, they <em>stand</em> with their current value. It is now for their opponent to best</p>

<h2>Ties</h2>
<p>Ties go to the first player</p>

<h2>Winner of the match</h2>
<p>A match is determined by playing best out of three (3) hands with loser going first in the next hand</p>

<button class="accordion w3-dark-gray">Example 1 <i class="fas fa-caret-right w3-large"></i></button>
<div class="panel">
    <ul style="list-style-type:none;">
        <li>On their first role, player1 roles a <i class="fas fa-dice-three"></i> (3) and a <i class="fas fa-dice-six"></i> (6) </li>
        <li>Double this value yields 18 [(3+6)*2 = 18] for their starting value</li>
        <li>They choose to role again</li>
        <li>They role a <i class="fas fa-dice-four"></i> (4) and a <i class="fas fa-dice-two"></i> (2)</li>
        <li>They choose to use the 2 and <em>stand</em> with a total of 20 [18+2=20]</li>
        <li>Their opponent is now forced to get <em>exactly</em> 21 to win the hand</li>
    </ul>
</div>

<button class="accordion w3-dark-gray">Example 2 <i class="fas fa-caret-right w3-large"></i></button>
<div class="panel">
    <ul style="list-style-type:none;">
        <li>After the first role, player1 has 12</li>
        <li>They choose to role again</li>
        <li>They role a <i class="fas fa-dice-five"></i> (5) and a <i class="fas fa-dice-six"></i> (6)</li>
        <li>They must take at least one of them, but both would mean bust</li>
        <li>The choose to take the <i class="fas fa-dice-five"></i> (5), as it yields a little more room to further improve their score (from 17)</li>
        <li>However on their next role, they get two <i class="fas fa-dice-five"></i>'s (5's) - !!!BUST!!!</li>
        <li>Their opponent wins</li>
    </ul>
</div>

<button class="accordion w3-dark-gray">Example 3 <i class="fas fa-caret-right w3-large"></i></button>
<div class="panel">
    <ul style="list-style-type:none;">
        <li>After the first role, player1 has 12</li>
        <li>They choose to role again</li>
        <li>They role a <i class="fas fa-dice-five"></i> (5) and a <i class="fas fa-dice-six"></i> (6)</li>
        <li>They must take at least one of them, but both would mean bust</li>
        <li>The choose to take the <i class="fas fa-dice-six"></i> (6), as it yields a little higher score (18)</li>
        <li>player1 now "stands", and player2 is faced with topping 18</li>
    </ul>
</div>

<div style="min-height: 50px;">&nbsp;</div>